.cookie-notice {
  --font: 400 15px/120% "Lato", Arial, Helvetica, sans-serif;
  --color: #fff;
  --background-color: #00A3E0;
  --max-width: 1200px;

  display: block;

  * {
    z-index: 99999999;
  }

  &__container {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 8px;
    background: var(--background-color) none no-repeat left 15px center;
    min-height: 48px;
    overflow-y: hidden;
    transition: transform .3s ease;

    &__box {
      width: 100%;
      display: block;
      max-width: var(--max-width);
      margin: 0 auto;
      max-height: 500px;

      &--hidden {
        max-height: 0;
      }
    }

    &--transparent {
      background-color: transparent;
      border: none;
    }

    &--hidden {
      transform: translate(0, 100%);
    }
  }

  &__toggle {
    display: block;
    background: var(--background-color);
    cursor: pointer;
    border: none;

    &--lock {
      width: 48px;
      height: 48px;
      margin: 0;
      background: var(--background-color) url('https://storage.googleapis.com/varanox-client.appspot.com/lock.png') no-repeat center center;
    }

    &--ok {
      padding: 0 12px;
      background-color: rgba(0, 0, 0, 0.5);
      color: var(--color);
      text-transform: uppercase;
      transition: all 125ms ease-in-out;
      font-size: 12px;
      border-radius: 3px;
      font-weight: bold;
      white-space: nowrap;
      line-height: 28px;
    }
  }

  &__content {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    padding: 0 15px 0 60px;
    --mdc-theme-secondary: var(--color);

    &--info-ico {
      background: transparent url('https://storage.googleapis.com/varanox-client.appspot.com/info.png') no-repeat left 0 center;
    }

    &__info {
      display: block;
      padding: 12px 0;
      width: 100%;
      outline: none;
      cursor: default;
    }

  }

  &__settings {
    display: block;
    margin-left: 16px;
    min-width: 32px;
    min-height: 32px;
    border: none;
    background: transparent url("https://storage.googleapis.com/varanox-client.appspot.com/settings.png") no-repeat left 0 center;
  }

  &__title {
    color: var(--color);
    font: var(--font);
    font-weight: 700 !important;
  }

  p {
    color: var(--color);
    font: var(--font);
    margin: 0;
    width: 90%;
  }

  label {
    color: var(--color);
    font: var(--font);
  }

  a {
    color: var(--color);
    font: var(--font);
    text-decoration: none;
    padding-bottom: 0;
    border-bottom: 1px solid var(--color);
    transition: all 250ms ease-in-out;
  }

  a:hover, a:focus {
    cursor: pointer;
    opacity: 0.75;
  }

  &__switches {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -8px;

    &__switch {
      flex-grow: 1;
      flex-shrink: 1;
      padding: 12px;
      border: 1px solid var(--color);
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 8px 8px 0 8px;

      label {
        color: var(--color);
        margin-right: 8px
      }
    }
  }

}
